interactions:
- request:
    body: '{"name": "pyarmstorage18268f1524", "type": "Microsoft.Storage/storageAccounts"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2017-06-01
  response:
    body: {string: '{"nameAvailable":true}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_storage_async_test_storage_accounts_async268f1524/providers/Microsoft.Storage/storageAccounts/pyarmstorage18268f1524?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/96374471-0693-4352-aa77-d425b0aac4bd?monitor=true&api-version=2017-06-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/96374471-0693-4352-aa77-d425b0aac4bd?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_storage_async_test_storage_accounts_async268f1524/providers/Microsoft.Storage/storageAccounts/pyarmstorage18268f1524","kind":"Storage","location":"westus","name":"pyarmstorage18268f1524","properties":{"creationTime":"2017-12-22T01:16:23.4873474Z","encryption":{"keySource":"Microsoft.Storage","services":{"blob":{"enabled":true,"lastEnabledTime":"2017-12-22T01:16:23.4903474Z"},"file":{"enabled":true,"lastEnabledTime":"2017-12-22T01:16:23.4903474Z"}}},"networkAcls":{"bypass":"AzureServices","defaultAction":"Allow","ipRules":[],"virtualNetworkRules":[]},"primaryEndpoints":{"blob":"https://pyarmstorage18268f1524.blob.core.windows.net/","file":"https://pyarmstorage18268f1524.file.core.windows.net/","queue":"https://pyarmstorage18268f1524.queue.core.windows.net/","table":"https://pyarmstorage18268f1524.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_storage_async_test_storage_accounts_async268f1524/providers/Microsoft.Storage/storageAccounts/pyarmstorage18268f1524?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
version: 1
