interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-app-config-url.azconfig.io/kv/FontColor?api-version=1.0
  response:
    body:
      string: '{"etag":"Xf2K3YG17tJjIB6q69Hnx6mbnG8","key":"FontColor","label":null,"content_type":null,"value":"Green","tags":{},"locked":false,"last_modified":"2020-10-15T17:41:40+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"Xf2K3YG17tJjIB6q69Hnx6mbnG8"
      last-modified:
      - Thu, 15 Oct 2020 17:41:40 GMT
      sync-token:
      - zAJw6V16=NDo0IzI3MzU1OTEjNz02ODQ0NTg=;sn=2735591
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://fake-app-config-url.azconfig.io/kv/GreetingText?api-version=1.0
  response:
    body:
      string: '{"etag":"37XDDL5YchvmcUey6B1D8yjHseA","key":"GreetingText","label":null,"content_type":"","value":"Hello
        World!","tags":{},"locked":false,"last_modified":"2020-10-15T21:46:02+00:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"37XDDL5YchvmcUey6B1D8yjHseA"
      last-modified:
      - Thu, 15 Oct 2020 21:46:02 GMT
      sync-token:
      - zAJw6V16=NDo0IzI3MzU1OTEjNz02ODQ0NTg=;sn=2735591
    status:
      code: 200
      message: OK
version: 1
